# Git
.git/
.gitignore

# Python
venv/
__pycache__/

# Snakemake artifacts
.snakemake/
logs/
results/

# Large Data & References
data/
uploads/
test_data/
pipeline/references/

# Node
frontend/node_modules/

# Secrets
.env